body {
    background-image: url("../images/TrainBG.png");
}

.card-header{
    color: white;

}
.jumbotron {
    background: none;
    color: whitesmoke; 
}

.panel-heading {
    background-image: none;
    
}
#Train{
    background-color: white;

}
